.Layout{
    display: flex;
    flex-direction: column;
}

.Layout .Header{
    display: flex;
    justify-content: center;
    margin-top: calc(3.5rem + 2.4rem);
    /* margin-top: 2.4rem; */
    color: blue;
    width: stretch;
    min-height: max-content;
    margin-bottom: 30px;
    /* font-weight: 1000; */
}
.Layout .Header h1{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 2vw;
    font-size: 6vw;
    /* font-stretch: expanded; */
    font-weight: 1000;
    /* height: 100px; */
}
.Layout .Body{
    display: flex;
    flex-direction: inherit;
    flex: 1;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
